.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .box{
    width: 250px;
    height: 250px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: sans-serif;
  }
  
  .red{
    background-color: red;
  }
  
  .green{
    background-color: green;
  }
  
  .yellow{
    background-color: yellow;
  }