@import "contact.css";
@import "blog-post.css";
@import "blog.css";
@import "about.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  overscroll-behavior: none;
  font-family: "Poppins", sans-serif;
}

html,
body {
  background-color: #e78200;
  font-size: 2rem;
 
}
#homepage{
  background-image: url(../assets/pexels-elevate-1269031.jpg);
  background-size: cover;
}
.navbar {
  font-size: 1em;
  background: #51d0f6;
  width: 100%;
  padding-left: 7rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-links {
  align-items: flex-end;
  margin-right: 1.5em;
}
.logo {
  float: left;
  height: 200px;
  margin-left: -220px;
  margin-top: -48px;
  margin-bottom: -45px;
}
.main-container {
  margin: auto;
  height: 500px;
}
.heading-container{
  background-color: #03174d;
  height: 2rem;
  width: 25%;
  margin:auto;
  margin-top: .5rem;
  border-radius: 40px;
}
.blog-heading {
  text-align: center;
  /* padding: 2rem; */
  color: #EFEFEF;
  font-size: 32pt;
}
.blog-cards {
  display: grid;

  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;

  gap: 0;
  height: 100%;
}
.blog-card {
  height: 13rem;
  display: flex;
  flex-direction: column;
  margin: 1.5em;
}
.blog-card h2 {
  text-align: center;
  font-size: 1em;
  padding: 6px;
  color: #03174d;
}
.blog-card img {
  width: 500px;
  margin: auto;
}
button {
  width: 100px;
  border-radius: 20px;
  padding-bottom: 5px;
  margin: auto;
  border: none;
  margin-bottom: 10px;
}
footer {
  padding-top: 1.5em;
  font-size: 1rem;
  background-color: #03174d;
  height: 500px;
  color: white;
  text-align: center;
}

footer a {
  color: #e78200;
}

a {
  color: #03174d;
  font-size: 18pt;
  text-decoration: none;
}
p.welcome-title {
  height: 50%;
  width: 15%;
  margin-left: 32.5em;
}
h1.welcome-title,
p.welcome-title {
  color: #51d0f6;
}
.welcome {
  margin-top: 1.5em;
}

/* Media Queries */
/* Mobile First */