html{
    font-size: 80px;
}

ul{
    margin: 0;
    padding: 0;
    border: 2px solid black;
    height: 4rem;
    width: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
li{
    padding-bottom: .1em;
    margin: .1em;
    /* float: left; */
    list-style: none;
    background-color: skyblue;
    width: 1em;
    height: 1em;
    text-align: center;
    /* font-size: 80px; */
    font-family: sans-serif; 
    
}