/* title */
h3{
    font-size: 20pt;
    padding: 5px;
}
/* container */
.trading-card {
    width: 300px;
    padding: 10px;
    border: 2px solid rgb(79, 132, 213);
    border-radius: 10px;
    background-color:#4992bb;
    box-shadow: 10px 5px 5px hsl(0, 0%, 50%);
}
.image-container{
    border: 5px double rgba(255, 255, 0, 0.795);
    border-radius: 50%;
    margin: 5px 0 5px 0;
    height: 400px;
    width: 292px;
}
.image {
    height: auto;
    width: 300px;
    padding: 0;
    margin: 0 0 0 -10px;
    clip-path: ellipse(48% 49% at 52.1% 50%);
}
/* facts */
.interesting-facts{
    font-style: italic; 
    margin: 0;
}
ul{
    padding: 0;
}
li {
    list-style: none;
}
/* items within the li */
.animal-items {
    font-weight: bold;
}
/* borders for the trading card */
.trading-card , .all-about {
    border: 1px solid #36bb6d;
}
.all-about, h3 {
    background-color: #3cae87;
    border-radius: 5px;
    padding: 4px 10px 0 10px;
    margin: 2px;
}