/* *{
    font-size: 48px;
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
} */
h1{
    font: italic bold 48px Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: underline;
}

p{
    font: italic bold 48px Helvetica, Arial, sans-serif;
    text-decoration: underline;
}

/* 1. font-style
2. font-variant
3. font-weight
4. font-size
5. line-height
6. font-family */